src/main/resources/META-INF/netty_rpc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.yuanyuan.com/schema/netty_rpc"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.yuanyuan.com/schema/netty_rpc"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for netty rpc]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="registryType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="group" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry group. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="consumerType">

        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="registry" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="referenceInterface" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation source="java:java.lang.Class"><![CDATA[ The service interface class name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="version" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="group" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry group. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="timeOut" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The timeout. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="providerType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="registry" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="referenceInterface" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation source="java:java.lang.Class"><![CDATA[ The service interface class name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="version" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The service version]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="group" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry group. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="timeOut" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The timeout. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="ref" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The ref service name]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="serializerType">
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation source="java:java.lang.Class"><![CDATA[ The serializer interface class name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="serializer" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="serializerConfig" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The service interface class name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="consumer" type="consumerType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 声明consumer的配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="registry" type="registryType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 声明注册中心的配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="provider" type="providerType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 声明provider配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="serializer" type="serializerType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 声明序列化配置 ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>